@import "common/var";

@font-face {
  font-family: 'robert-icons';
  src: url('#{$--font-path}/robert-icons.woff') format('woff'), /* chrome, firefox */
       url('#{$--font-path}/robert-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="rb-icon-"], [class*="rb-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'robert-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rb-icon-info:before {
  content: "\e7a1";
}
