

/* Alert
-------------------------- */
$--alert-padding: 8px 16px !default;
// $--alert-border-radius: $--border-radius-base !default;


/* Color
-------------------------- */
/// color|1|Background Color|4
$--color-white: #FFFFFF !default;

/// borderRadius|1|Radius|0
$--border-radius-base: 4px !default;